* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

#div-portada {
  width: 100vw;
  height: 100vh;
  background-image: url("/imagenes/home.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (orientation: portrait) {
  #div-portada {
    width: 100vw;
    height: 100vh;
    background-image: url("/imagenes/home-m.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
